{% extends 'base.html'  %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>some title</h1>
</head>
{% endblock %}

{% block body %}
<div>
    <form method="post" action="">
        <label>Create New Experiment</label>
        <br>
        <input type="text" name="experiment_name" required="required">
        <button type="submit" name="action" value="create_experiment">Create Experiment</button>
    </form>
    <br>
    <form method="post" action="">
        <label>Participate In Existing Experiment</label>
        <br>
        <input type="text" name="experiment_id" required="required">
        <button type="submit" name="action" value="join_experiment">Join Experiment</button>
    </form>
</div>
{% endblock %}